// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Titillium Web', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$oswald: 'Oswald', sans-serif;
$shadow: 0 4px 15px rgba(0,0,0,0.1);
$purple: #475569;
$blue: #D3AF37;
$dark-gray: #333333;
$light-gray: #838383;
$white: #ffffff;
$black: #000000;
$golden: #FEC007;
$gray: #FAFAFA;
$inputBorder: #d2d2d2;
$red: #E2574C;
$green: #34A853;
$radius: 20px;
$linear: linear-gradient(52deg, rgba(3,146,250,1) 0%, rgba(99,151,229,1) 69%, rgba(99,127,229,1) 100%);