// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Titillium Web', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$oswald: 'Oswald', sans-serif;
$shadow: 0 4px 15px rgba(0,0,0,0.1);
