@import 'theme';

@media (min-width: 2200px) {
	.container-fluid {
		max-width: 2000px;
	}
}
#admin-app {
	background: #FAFAFA;
	min-height: 100vh;
	.sidebar-col {
		width: 290px;
	}
	.dashboard-col {
		margin-left: 18.125rem;
	}
}
.dashboard-content {
	.settings {
		.card {
			padding: 10px;
		}
	}
}
.top-bar {
	padding: 12px 0;
	.welcome {
		font-weight: 600;
	}
	.list-group {
		border: 0;
		justify-content: end;
		.list-group-item {
			border: 0;
			background: transparent;
		}
		.notifications {
			position: relative;
			top: 2px;
			font-size: 24px;
			.notification-badge{
				top: 10px;
				font-size: 0.7rem;
				padding: 2px 6px;
				box-shadow: $shadow;
			}
			.dropdown-menu {
				background: rgba(255,255,255,0.8);
				min-width: 400px;
				padding: 10px 15px;
				border: none;
				border-radius: $radius;
				box-shadow: $shadow;
				color: $black;
		
				.notification-body{
					cursor: pointer;
					border-bottom: 1px solid rgba(33,33,33,0.1);
					padding: 10px 0px;
					h5{
						font-size: 1rem;
						margin-bottom: 0px;
					}
					p{
						margin-bottom: 0px;
					}
				}
				a.action-btn{
					background-color: $purple;
					color: $white;
					padding: 2px 10px;
					font-size: 0.9rem;
					font-weight: bold;
				}
			}
		}
	}
	.user-action-menu{
		box-shadow: $shadow;
		border: none;
		min-width: 200px;

		.profile-image{
			width: 40px;
			height: 40px;
			border-radius: 20px;
			margin: 10px;
		}
		.profile-name{
			font-weight: 600;
		}
		.profile-focus{
			font-size: 0.9em;
		}
		.dropdown-divider{
			border-color: rgba($dark-gray, 0.1);
		}
		.icon{
			font-size: 1.3em;
			margin-right: 10px;
		}
	}
}

.sidebar {
	padding: 24px 0;
	position: fixed;
	width: inherit;
	padding-right: 15px;
	overflow-y: scroll;
	top: 0;
	bottom: 0;
	.logo {
		img {
			max-width: 80%;
		}
	}
	.sidebar-links {
		margin-top: 50px;
		.list-group {
			border: 0;
			justify-content: center;
			.list-group-item {
				border: 0;
				cursor: pointer;
				border-radius: 15px;
				background: transparent;
				margin-bottom: 10px;
				overflow: hidden;
				padding: 0;
				.accordion-item {
					border: 0;
					* {
						background: transparent;
					}
					.accordion-body {
						padding: 0 10px 10px;
						border-radius: 10px;
						overflow: hidden;
					}
				}
				a, button {
					text-decoration: none;
					color: $dark-gray;
					padding: 20px;
					transition: .2s;
					border-radius: 10px;
					color: $light-gray;
					position: relative;
					box-shadow: none;
					border: 0;
					background: #FAFAFA !important;
					span {
						margin-left: 10px;
					}
					i {
						font-size: 20px;
					}
					&:hover {
						background: $white !important;
						color: $dark-gray;
					}
				}
				a {
					display: block;
				}
				&.active {
					background: $white;
					box-shadow: $shadow;
					font-weight: 600;
					a {
						background: $white !important;
					}
					a,button.accordion-button {
						color: $purple !important;
						font-weight: 600;
					}
				}
				button[aria-expanded="true"] {
					color: $dark-gray;
					background: $white !important;
				}
			}
			.list-group-item.drop-menu {
				.link-dark {
					color: $dark-gray !important;
					padding: 10px;
					font-weight: 400;
					i {
						font-size: 16px;
					}
				}
				.link-dark.active {
					color: $purple !important;
					font-weight: 600;
				}
			}
		}
	}
}

.incomplete-profile {
	font-weight: 600;
	color: $red;
	a {
		color: $purple;
		text-decoration: none;
	}
}

.dashboard-base {
	.cover-img {
		background: url('/public/assets/img/default/default-cover.jpg') no-repeat;
		background-size: cover !important;
		background-position: center center !important;
		border-radius: 20px;
		overflow: hidden;
		text-align: center;
		color: $white;
		padding: 70px 0 120px;
		p {
			margin: 20px 0;
		}
	}
	.cover-img-added {
		padding: 150px 0 180px;
		.btn {

		}
	}
	.profile-bar {
		width: 94%;
		margin: -55px auto 0;
		background: rgba(255,255,255,.65);
		border-radius: $radius;
		box-shadow: $shadow;
		padding: 20px;
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		img {
			height: 70px;
			border-radius: 10px;
		}
		p {
			margin-left: 14px;
			font-size: 20px;
			align-self: center;
			margin-bottom: 0;
			* {
				display: block;
			}
			span {
				font-size: 14px;
			}
		}
	}
}

.dashboard-cards {
	margin-top: 50px;
	.card {
		position: relative;
		.icon {
			position: absolute;
			right: 20px;
			top: 12px;
			color: $dark-gray;
			font-size: 20px;
			cursor: pointer;
		}
		padding: 30px;
		h5 {
			font-weight: 600;
			margin-bottom: 20px;
		}
	}
}

.settings{
	.settings-section{
		padding: 15px 5px;
		border-top: 1px solid rgba($dark-gray, 0.1);

		&:last-child{
			border-bottom: 1px solid rgba($dark-gray, 0.1);
		}
	}
}

.conversations {
	.conversation {
		img {
			max-height: 60px;
			height: 50px;
		}
		.meta {
			margin-left: 10px;
			h6 {
				font-weight: 600;
				font-size: 16px;
				margin-bottom: 0;
				margin-top: 8px;
			}
			small {
				opacity: .5;
			}
		}
		a {
			color: $purple;
			font-weight: 600;
			font-size: 14px;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}
.conversations.players {
	.btn {
		padding: 4px 12px;
		color: $white;
		font-size: 12px;
		text-transform: capitalize;
	}
}
.videos {
	.video {
		border-radius: 20px;
		overflow: hidden;
		box-shadow: $shadow;
		height: 270px;
	}
}

.admin-footer {
	a {
		color: $purple;
		text-decoration: none;
		margin: 20px 10px;
	}
}


.profile-edit-page {
	.cover-image {
		position: relative;
		height: 250px;
		border-radius: 20px;
		overflow: hidden;
		img {
			object-fit:cover;
			object-position: center center;
			height: 100%;
		}
	}
	.profile-image {
		position: relative;
		text-align: center;
		width: 200px;
		height: 200px;
		margin: -110px 20px 20px;
		border: 2px solid $purple;
		border-radius: 50%;
		img {
			object-fit:cover;
			height: 100%;
		}
	}
	.profile-info {
		.changeImage {
			position: absolute;
			right: 10px;
			top: 10px;
			background: $white;
			box-shadow: $shadow;
			border-radius: 50%;
			padding: 8px 12px;
			cursor: pointer;
		}
	}
	.profile-completion {
		margin-top: 10px;
		width: 30%;
		.progress {
			border-radius: 50px;
			.progress-bar {
				border-radius: 50px;
			}
		}
	}
}

.profile-table {
	border-radius: $radius;
	overflow: hidden;
	overflow-x: scroll;
	th {
		white-space: nowrap;
		padding: 12px 10px;
	}
	td {
		font-size: 14px;
		white-space: nowrap;
		span.one-line {
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
		}
		span {
			align-self: center;
		}
	}
	td.action {
		font-size: 16px;
		text-align: center;
		.delete {
			color: $red;
			margin-left: 3px;
			cursor: pointer;
		}
		.edit {
			margin-right: 3px;
			color: $blue;
			cursor: pointer;
		}
	}
}


.personal-dropzone-wrapper {
	border: 2px dashed $light-gray;
	color: $light-gray;
	position: relative;
	padding: 20px 20px 80px;
	border-radius: 10px;
	transition: .2s;
	&:hover {
		background: #f9f9f9;
	}
	.browse {
      padding: 8px 16px;
      border-radius: 5px;
      background: #fff;
      border: 1px solid $purple;
      color: $purple;
      display: inline-block;
      position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
    }
}
.personal-dropzone-desc {
	position: absolute;
	left: 0;
	right: 0;
	text-align: left;
	font-size: 16px;
	border-radius: 8px;
	display: flex;
	margin-left: 20px;
	width: 100%;
	color: $black;
	img {
		margin-right: 10px;
		position: relative;
		top: -10px;
	}
	small {
		color: $light-gray;
		font-size: 12px;
	}
}
.personal-dropzone {
	position: absolute;
	outline: none !important;
	width: 100%;
	height: 100px;
	cursor: pointer;
	opacity: 0;
	top: 0;
	&:focus {
		position: absolute;
		outline: none !important;
		width: 100%;
		height: 150px;
		cursor: pointer;
		opacity: 0;
	}
}
.personal-dropzone-wrapper.dragover {
	background: #ecf0f5;
}
.preview-zone {
	text-align: center;
	.box {
		box-shadow: none;
		border-radius: 0;
		margin-bottom: 0;
	}
}

.table-design {
	// border: 1px solid $inputBorder;
	background-color: $white;
	border-radius: $radius;
	box-shadow: $shadow;
	padding: 10px 20px 0;
	overflow-x: auto;
	.row {
		border-bottom: 1px solid $inputBorder;
		text-decoration: none;
		color: $dark-gray;
	}
	tbody {
		tr:last-child {
			th, td {
				border-bottom: 0;
			}
		}
	}
}

.hire-requests-page {
	.cover {
		height: 240px;
		img {
			height: 100%;
			width: 100%;
			object-fit:cover;
			object-position: center center;
		}
	}
	.profile-img {
		width: 150px;
		height: 150px;
		overflow: hidden;
		margin-top: -90px;
		img {
			width: 100%;
			height: 100%;
			object-fit:cover;
			object-position: center center;
		}
	}
}

// CHAT APP
.messages-page {
	.nav-tabs {
		.nav-link {
			font-size: 18px;
			color: $dark-gray;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			.badge {
				font-weight: 400;
				font-size: 13px;
				padding: 3px 7px;
				position: relative;
				top: -1px;
			}
		}
		.nav-link.active {
			border-color: $inputBorder;
			border-bottom-color: $white;
			font-weight: 600;
			color: $purple;
		}
	}
	
}
.chat-container {
	.status.online {
		background: $green;
	}
	.status.offline {
		background: gray;
	}
	width: 100%;
	height: 100%;
	// box-shadow: $shadow;
	border: 1px solid $inputBorder;
	border-top: 0;
	overflow: hidden;
	border-radius: $radius;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: $white;
	display: flex;
	min-height: 750px;
	.chat-list-container {
		width: 25%;
		border-right: 1px solid $inputBorder;
		position: relative;
		overflow: hidden;
		.chatlist-header {
			// border-bottom: 1px solid $inputBorder;
			padding: 14px 12px;
			height: auto;
			position: absolute;
			top: 0;
			width: 100%;
			box-shadow: $shadow;
			.standard-search {
				height: 100%;
				input {
					height: 100%;
					font-size: 14px;
				}
			}
		}
		.chatlist-body {
			height: 690px;
			position: relative;
			margin-top: 76px;
			overflow-y: auto;
			border-bottom-left-radius: 20px;
			.list-item {
				text-decoration: none;
				padding: 16px;
				transition: .3s;
				border-bottom: 1px solid $inputBorder;
				position: relative;
				.profile_img {
					width: 50px;
					border-radius: 50%;
					height: 50px;
					img {
						object-fit: cover;
						object-position: center center;
						border-radius: 50%;
					}
					.status {
						position: absolute;
						bottom: 0;
						right: 3px;
						border-radius: 20px;
						border: 1px solid $white;
						height: 12px;
						width: 12px;
					}
				}
				.profile-meta {
					margin-left: 10px;
					width: 67%;
					.name {
						font-weight: 600;
					}
					.chat {
						font-size: 13px;
						opacity: .8;
					}
				}
				.last-chat {
					right: 10px;
					font-size: 14px;
					top: 10px;
				}
				.new-messages {
					right: 10px;
					bottom: 16px;
				}
				&:hover {
					background: #F5F5F5;
				}
				&.active {
					background: $purple;
					color: $white !important;
				}
			}
		}
	}
	.chat-box-container {
		width: 75%;
		position: relative;
		.chatbox-header {
			// border-bottom: 1px solid $inputBorder;
			padding: 16px 20px;
			height: auto;
			position: absolute;
			top: 0;
			width: 100%;
			overflow: hidden;
			box-shadow: $shadow;
			.d-flex {
				align-items: center;
			}
			.status {
				width: 16px;
				height: 16px;
				border-radius: $radius;
				box-shadow: $shadow;
				margin-right: 10px;
				margin-top: 2px;
			}
			h5 {
				font-size: 18px;
			}
			.buttons {
				.icon {
					display: inline-block;
					font-size: 18px;
					margin-left: 10px;
					text-decoration: none;
					height: fit-content;
					position: relative;
					top: 3px;
					width: 40px;
					height: 40px;
					padding: 5px 9px;
					border: 2px solid $purple;
					border-radius: 50%;
					color: $purple;
					transition: .2s;
					&:hover {
						background: $purple;
						color: $white;
					}
				}
			}
		}
		.chatbox-body {
			padding: 20px;
			height: 610px;
			position: relative;
			margin-top: 76px;
			overflow-y: auto;
			p.message {
				max-width: 80%;
				width: fit-content;
				border-radius: 20px;
				padding: 10px;
				font-size: 16px;
				padding-right: 40px;
				position: relative;
				margin-bottom: 30px;
				span.sent {
					position: absolute;
					right: 16px;
					bottom: 6px;
					font-weight: 600;
					font-size: 18px;
				}
				span.time {
					font-size: 12px;
					position: absolute;
					right: 6px;
					bottom: -18px;
					color: $dark-gray;
					opacity: .6;
					white-space: nowrap;
				}
			}
			p.left-message {
				border-bottom-left-radius: 0;
				background: $blue;
				color: $white;
				padding-right: 14px;

				a{
					color: white;
					&:hover{
						color: #f5f5f5;
					}
				}
			}
			p.right-message {
				border-bottom-right-radius: 0;
				background: #f5f5f5;
				margin-left: auto;
			}
			.no-conversation {
				width: 100%;
				height: 100%;
				position: relative;
				img {
					width: 350px;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		.chatbox-footer {
			position: absolute;
			width: 100%;
			bottom: 0;
			padding: 12px;
			background: $gray;
			border-top: 1px solid $inputBorder;
			.send-message {
				text-decoration: none;
				background: $white;
				padding-right: 20px;
			}
			.fa-circle-plus {
				font-size: 24px;
			}
		}
		.chatbox-footer.disabled {
			opacity: .5;
			pointer-events: none;
		}
	}
}

//Tip card
.tip-card{
	.card-title{
		color: $purple;
	}
}
//Feature card
.feature-card{
	position: relative;
	width: 100%;
	max-width: 475px;
	min-height: 800px;
	margin: auto;
	background-position: center top;
	background-size: auto 100%;
	border-radius: 20px;
	padding: 20px 15px;
	color: white;
	font-family: 'Titillium Web';

	.feature-card-button{
		position: absolute;
		bottom: 15px;
		left: 10px;
		right: 10px;
		background-color: rgba(255,255,255,.30);
		color: white;

		&:hover{
			background-color: rgba(255,255,255,.80);
			color: black;
		}
	}
}

/* Notification Color */
.toast-info{
	background-color: $green !important;
}

//Incoming call alert
#call_receive_modal, #video_call_receive_modal{
    .modal-content{
        background-color: black;
		color: white;
		border-radius: 5px;
		.modal-header{
			border-radius: 0px;
			border-bottom-color: #121212;
			text-align: center;
		}
    }
}

//Attachment upload progress
.upload-progress{
	display: none;
	width: 100%; 
	height: 5px; 
	background-color: lightgray;

	.upload-progress-active{
		width: 0%; 
		height: 5px; 
		background-color: $green !important;
	}
}

//Event style
.event-card{
	position: relative;
	transition: .3s;
	border-radius: $radius;
	background: $white;
	overflow: hidden;
	box-shadow: $shadow;
	border: 2px solid $white;
	.card-cover {
		height: 200px;
		overflow: hidden;
		img {
			object-fit: cover;
			object-position: center center;
			width: 100%;
			height: 100%;
		}
	}
	a{
		text-decoration: none;
	}
	.event-title{
		color: black;
		text-decoration: none;
	}
	.event-action{
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.dropdown-menu{
		background-color: white;
		.dropdown-item{
			color: black;

			&.approve{
				color: $purple;
			}
		}
	}
}
.event-filter-list{
	list-style-type: none;
	padding-left: 0px;

	li{
		display: inline-block;
		padding-right: 15px;
		cursor: pointer;

		&.active{
			font-weight: bold;
			text-decoration: underline;
			color: $purple;
		}
	}
}
.event-sort{
	select{
		width: auto;
		display: inline;
	}
}

.event-team{
	padding: 10px;
	box-shadow: $shadow;
	border-radius: $radius;

	.team-name{
		.team-logo{
			width: 50px;
			height: 50px;
			border-radius: 25px;
			margin-right: 10px;

			img{
				width: 100%;
				height: auto;
			}
		}
	}
}

.team-suggestions{
	.team-suggestion{
		padding: 10px;
		box-shadow: $shadow;
		border-radius: $radius;
		cursor: pointer;

		.team-logo{
			width: 40px;
			height: 40px;
			border-radius: 20px;
			margin-right: 10px;

			img{
				width: 100%;
				height: auto;
			}
		}
	}
}

//Event detail
.event-cover{
	background-image: url('/public/assets/img/event-detail-bg.jpg');
	background-size: cover;
	background-position: center center;
	border-radius: 10px;
	margin-top: 15px;
	padding-bottom: 40px;
	.event-join{
		margin-top: 100px;
		background-color: rgba($purple, 0.3);
		border-radius: 10px;
		backdrop-filter: blur(10px);
	}
	.event-player-head{
		position: relative;
		width: 325px;
		height: 100px;
		margin-top: 25px;
		img{
			position: absolute;
			width: 75px;
			height: 75px;
			border: 1px solid white;
			border-radius: 40px;
			top: 0px;
	
			&:nth-child(1){ left: 0px; }
			&:nth-child(2){ left: 50px; }
			&:nth-child(3){ left: 100px; }
			&:nth-child(4){ left: 150px; }
			&:nth-child(5){ left: 200px; }
			&:nth-child(6){ left: 250px; }
		}
	}
	.coach-link{
		text-decoration: none;
		color: $purple !important;
	}
}
.event-fee-card{
	background-image: url('/public/assets/img/events/event-fee-card-bg.jpg');
	background-repeat: repeat;
	border-radius: 10px;
	color: white;
	padding: 10px;

	.title{
		text-transform: uppercase;
	}
	.join-button{
		width: 100%;
	}
}
.event-player-body, .event-team-body{
	box-shadow: $shadow;
	background-color: $white;
	border-radius: $radius;
}
.event-team-body{
	.team-logo{
		width: 30px;
		height: 30px;
		border-radius: 15px;
		overflow: hidden;
		margin-right: 10px;
		img{
			width: 100%;
			height: auto;
		}
	}
}

// Payment
.payment-method-selection{
	border-right: 1px solid $inputBorder;
}

// Team designs
.team-nav{
	list-style-type: none;
	padding-left: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	border-bottom: 2px solid rgba($dark-gray, 0.1);

	.team-nav-item{
		margin: 0px 10px;
		display: inline-block;
	
		&.active{
			position: relative;
			&::after{
				content: "";
				position: absolute;
				left: 0px;
				right: 0px;
				bottom: -2px;
				height: 2px;
				background-color: $purple;
			}
			a{
				color: $purple;
			}
		}
		a{
			color: $black;
			text-decoration: none;
		}
	}
}
.global-team-logo{
	width: 50px;
	height: 50px;
	background-position: center center;
	background-size: 100% auto;
}
.global-team-title{
	color: $purple;
	font-size: 1.1rem !important;
	cursor: pointer;
}
.global-team-collapse{
	cursor: pointer;
}
.team-sport-badge{
	background-color: rgba($black, 0.05);
	border-radius: $radius;
	font-weight: normal;
}
.team-cover{
	background-size: 110% 110%;
	background-position: center center;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
	min-height: 250px;

	.team-logo{
		width: 150px;
		height: 150px;
		position: absolute;
		left: 20px;
		bottom: -75px;
		border-radius: 75px;
		background-color: $white;
		background-size: 100% 100%;
		background-position: center;
		box-shadow: $shadow;

		.team-logo-button{
			position: absolute;
			top: 5px;
			right: 5px;
			padding: 0px;
			width: 40px;
			height: 40px;
			border-radius: 20px;
			line-height: 38px;
			vertical-align: middle;
			text-align: center;
			font-size: 1.2em;
			box-shadow: $shadow;
		}
	}
}
.team-info{
	margin-top: 100px;
}
.team-detail{
	margin-top: 100px;
	padding: 15px;
	.team-players{
		border: 1px solid $inputBorder;
		border-radius: $radius;
		.player-header{
			background-color: rgba($dark-gray, 0.05);
			border-top-left-radius: $radius;
			border-top-right-radius: $radius;
			padding: 10px 0px;
		}
		.player-body{
			border-top: 1px solid $inputBorder;
			padding: 10px 0px;
			
			.profile-image{
				width: 75px;
				height: 75px;
				border-radius: 38px;
				box-shadow: $shadow;
				background-position: center center;
				background-size: 100% auto;
				background-repeat: no-repeat;
			}
			.name{
				color: $purple;
			}
		}
	}
	.team-coaches{
		.coach-body{
			background-color: rgba($dark-gray, 0.05);
			border-radius: 10px;
			padding: 10px;

			.profile-image{
				width: 60px;
				height: 60px;
				border-radius: 30px;
				box-shadow: $shadow;
				background-position: center center;
				background-size: 100% auto;
				background-repeat: no-repeat;
			}
			.title{
				color: $purple;
				font-size: 1.1rem !important;

				.verified{
					color: $blue;
				}
			}
		}
	}
}
.team-create-players, .team-create-coaches{
	border: 2px solid rgba($dark-gray, 0.1);
	border-radius: $radius;
	padding: 0px;

	.player-header, .coach-header{
		padding: 10px;
		background-color: rgba($dark-gray, 0.05);
		border-top-left-radius: $radius;
		border-top-right-radius: $radius;
		font-weight: bold;
	}
	.player-body, .coach-body{
		padding: 10px;
		border-bottom: 1px solid $inputBorder;
	}
}
#playerModal{
	.player-suggestion{
		width: 100%;
		margin: 8px auto;
		padding: 5px 10px;
		border-radius: $radius;
		box-shadow: $shadow;
		background-color: $white;
		color: $black;
		cursor: pointer;
	}
}
#coachModal{
	.coach-suggestion{
		width: 100%;
		margin: 8px auto;
		padding: 5px 10px;
		border-radius: $radius;
		box-shadow: $shadow;
		background-color: $white;
		color: $black;
		cursor: pointer;
	}
}


// Admin all users section
.admin-users{
	.card{
		overflow: visible;
	}
	.search-filter{
		.search-input{
			.form-control-sm{
				border-top-left-radius: $radius;
				border-bottom-left-radius: $radius;
				background-color: $gray;
				border-color: $inputBorder;
				border-right-color: transparent;
				&:focus{
					background-color: $white;
					border-color: $inputBorder;
					border-right-color: transparent;
				}
			}
			.input-group-text{
				border-top-right-radius: $radius;
				border-bottom-right-radius: $radius;
				background-color: $gray;
				border-color: $inputBorder;
				border-left-color: transparent;
			}
		}
		
		.dropdown{
			.dropdown-menu{
				background-color: $white;
				box-shadow: $shadow;
				border-color: transparent;
				z-index: 10;
				.dropdown-item{
					color: $black;
					&:hover{
						background-color: rgba($dark-gray, 0.1);
					}
				}
			}
		}
	}
	.user-body{
		box-shadow: $shadow;
		border-radius: $radius;

		.user-image{
			border-radius: 10px;
			width: 70px;
			height: auto;
		}
		.user-status{
			color: $green;
		}
	}
}

//FullCalendar
.fc-timegrid-slot-minor{
	display: none;
}
.fc-timegrid-slot{
	height: 120px !important;
}
.fc-col-header{
	a{
		color: black;
		text-decoration: none;
	}
}
.fc-daygrid-event{
	.coach-name, .coach-badge, .event-time{
		display: none;
	}
}
.calendar-title{
	font-weight: 600;
	color: black;
}
.calendar-navigation{
	border: 1px solid rgba($dark-gray, 0.3);
	border-radius: 5px;
	padding: 5px 10px;
}
.aritae-event{
	border-left: 8px solid $purple;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	padding-left: 5px;
	padding-top: 5px;
	color: $black;
	background-color: lighten($purple, 30%);

	.event-title{
		font-weight: 600;
	}
	.coach-name{
		font-weight: 600;
	}
	.coach-badge{
		background-color: rgba($purple, 0.1);
		color: rgba($dark-gray, 0.5);
		font-weight: normal;
	}
	.event-time{
		position: absolute;
		bottom: 10px;
		left: 0px;
		color: $blue;
	}
}
.event-detail-title{
	font-weight: 600;
}

#eventDetailModal{
	.event-player-head{
		position: relative;
		width: 325px;
		height: 50px;
		img{
			position: absolute;
			width: 50px;
			height: 50px;
			border: 1px solid white;
			border-radius: 25px;
			top: 0px;
	
			&:nth-child(1){ left: 0px; }
			&:nth-child(2){ left: 30px; }
			&:nth-child(3){ left: 60px; }
			&:nth-child(4){ left: 90px; }
			&:nth-child(5){ left: 120px; }
			&:nth-child(6){ left: 150px; }
		}
	}
}

// Admin all users section
.admin-contact-response{
	.card{
		overflow: visible;
	}
	.search-filter{
		.search-input{
			.form-control-sm{
				border-top-left-radius: $radius;
				border-bottom-left-radius: $radius;
				background-color: $gray;
				border-color: $inputBorder;
				border-right-color: transparent;
				&:focus{
					background-color: $white;
					border-color: $inputBorder;
					border-right-color: transparent;
				}
			}
			.input-group-text{
				border-top-right-radius: $radius;
				border-bottom-right-radius: $radius;
				background-color: $gray;
				border-color: $inputBorder;
				border-left-color: transparent;
			}
		}
	}
	.response-body{
		box-shadow: $shadow;
		border-radius: $radius;
	}
}

// Admin Notification section
.admin-notifications{
	.card{
		overflow: visible;
	}
	.notification-body{
		box-shadow: $shadow;
		border-radius: $radius;

		a.action-btn{
			background-color: $purple;
			color: $white;
			padding: 2px 10px;
			font-size: 0.9rem;
			font-weight: bold;
		}
	}
}