@import 'theme';

@media (min-width: 2200px) {
	.container-fluid {
		max-width: 2000px;
	}
}
#admin-app {
	background: #FAFAFA;
	min-height: 100vh;
	.sidebar-col {
		width: 290px;
	}
	.dashboard-col {
		margin-left: 18.125rem;
	}
}
.top-bar {
	padding: 12px 0;
	.welcome {
		font-weight: 600;
	}
	.list-group {
		border: 0;
		justify-content: end;
		.list-group-item {
			border: 0;
			background: transparent;
		}
		.notifications {
			position: relative;
			top: 2px;
			font-size: 24px;
			.dropdown-menu {
				background: rgba(255,255,255,0.8);
				a {
					color: $dark-gray;
				}
			}
		}
	}
}

.sidebar {
	padding: 24px 0;
	position: fixed;
	width: inherit;
	padding-right: 15px;
	overflow-y: scroll;
	top: 0;
	bottom: 0;
	.sidebar-links {
		margin-top: 50px;
		.list-group {
			border: 0;
			justify-content: center;
			.list-group-item {
				border: 0;
				cursor: pointer;
				border-radius: 15px;
				background: transparent;
				margin-bottom: 10px;
				overflow: hidden;
				padding: 0;
				.accordion-item {
					border: 0;
					* {
						background: transparent;
					}
					.accordion-body {
						padding: 0 10px 10px;
						border-radius: 10px;
						overflow: hidden;
					}
				}
				a, button {
					text-decoration: none;
					color: $dark-gray;
					padding: 20px;
					transition: .2s;
					border-radius: 10px;
					color: $light-gray;
					position: relative;
					box-shadow: none;
					border: 0;
					background: #FAFAFA !important;
					span {
						margin-left: 10px;
					}
					i {
						font-size: 20px;
					}
					&:hover {
						background: $white !important;
						color: $dark-gray;
					}
				}
				a {
					display: block;
				}
				&.active {
					background: $white;
					box-shadow: $shadow;
					font-weight: 600;
					a {
						background: $white !important;
					}
					a,button.accordion-button {
						color: $purple !important;
						font-weight: 600;
					}
				}
				button[aria-expanded="true"] {
					color: $dark-gray;
					background: $white !important;
				}
			}
			.list-group-item.drop-menu {
				.link-dark {
					color: $dark-gray !important;
					padding: 10px;
					font-weight: 400;
					i {
						font-size: 16px;
					}
				}
				.link-dark.active {
					color: $purple !important;
					font-weight: 600;
				}
			}
		}
	}
}

.incomplete-profile {
	font-weight: 600;
	color: $red;
	a {
		color: $purple;
		text-decoration: none;
	}
}

.dashboard-base {
	.cover-img {
		background: url('/public/assets/img/default/default-cover.jpg') no-repeat;
		background-size: cover !important;
		background-position: center center !important;
		border-radius: 20px;
		overflow: hidden;
		text-align: center;
		color: $white;
		padding: 70px 0 120px;
		p {
			margin: 20px 0;
		}
	}
	.cover-img-added {
		padding: 150px 0 180px;
		.btn {

		}
	}
	.profile-bar {
		width: 94%;
		margin: -55px auto 0;
		background: rgba(255,255,255,.65);
		border-radius: $radius;
		box-shadow: $shadow;
		padding: 20px;
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		img {
			height: 70px;
			border-radius: 10px;
		}
		p {
			margin-left: 14px;
			font-size: 20px;
			align-self: center;
			margin-bottom: 0;
			* {
				display: block;
			}
			span {
				font-size: 14px;
			}
		}
	}
}

.dashboard-cards {
	margin-top: 50px;
	.card {
		position: relative;
		.icon {
			position: absolute;
			right: 20px;
			top: 12px;
			color: $dark-gray;
			font-size: 20px;
			cursor: pointer;
		}
		padding: 30px;
		h5 {
			font-weight: 600;
			margin-bottom: 20px;
		}
	}
}

.conversations {
	.conversation {
		img {
			max-height: 60px;
			height: 50px;
		}
		.meta {
			margin-left: 10px;
			h6 {
				font-weight: 600;
				font-size: 16px;
				margin-bottom: 0;
				margin-top: 8px;
			}
			small {
				opacity: .5;
			}
		}
		a {
			color: $purple;
			font-weight: 600;
			font-size: 14px;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}
.conversations.players {
	.btn {
		padding: 4px 12px;
		color: $white;
		font-size: 12px;
		text-transform: capitalize;
	}
}
.videos {
	.video {
		border-radius: 20px;
		overflow: hidden;
		box-shadow: $shadow;
		height: 270px;
	}
}

.admin-footer {
	a {
		color: $purple;
		text-decoration: none;
		margin: 20px 10px;
	}
}


.profile-edit-page {
	.cover-image {
		position: relative;
		height: 250px;
		border-radius: 20px;
		overflow: hidden;
		img {
			object-fit:cover;
			object-position: center center;
			height: 100%;
		}
	}
	.profile-image {
		position: relative;
		text-align: center;
		width: 200px;
		height: 200px;
		margin: -110px 20px 20px;
		border: 2px solid $purple;
		border-radius: 50%;
		img {
			object-fit:cover;
			height: 100%;
		}
	}
	.profile-info {
		.changeImage {
			position: absolute;
			right: 10px;
			top: 10px;
			background: $white;
			box-shadow: $shadow;
			border-radius: 50%;
			padding: 8px 12px;
			cursor: pointer;
		}
	}
	.profile-completion {
		margin-top: 10px;
		width: 30%;
		.progress {
			border-radius: 50px;
			.progress-bar {
				border-radius: 50px;
			}
		}
	}
}

.profile-table {
	border-radius: $radius;
	overflow: hidden;
	overflow-x: scroll;
	th {
		white-space: nowrap;
		padding: 12px 10px;
	}
	td {
		font-size: 14px;
		white-space: nowrap;
		span.one-line {
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
		}
		span {
			align-self: center;
		}
	}
	td.action {
		font-size: 16px;
		text-align: center;
		.delete {
			color: $red;
			margin-left: 3px;
			cursor: pointer;
		}
		.edit {
			margin-right: 3px;
			color: $blue;
			cursor: pointer;
		}
	}
}


.personal-dropzone-wrapper {
	border: 2px dashed $light-gray;
	color: $light-gray;
	position: relative;
	padding: 20px 20px 80px;
	border-radius: 10px;
	transition: .2s;
	&:hover {
		background: #f9f9f9;
	}
	.browse {
      padding: 8px 16px;
      border-radius: 5px;
      background: #fff;
      border: 1px solid $purple;
      color: $purple;
      display: inline-block;
      position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
    }
}
.personal-dropzone-desc {
	position: absolute;
	left: 0;
	right: 0;
	text-align: left;
	font-size: 16px;
	border-radius: 8px;
	display: flex;
	margin-left: 20px;
	width: 100%;
	color: $black;
	img {
		margin-right: 10px;
		position: relative;
		top: -10px;
	}
	small {
		color: $light-gray;
		font-size: 12px;
	}
}
.personal-dropzone {
	position: absolute;
	outline: none !important;
	width: 100%;
	height: 100px;
	cursor: pointer;
	opacity: 0;
	top: 0;
	&:focus {
		position: absolute;
		outline: none !important;
		width: 100%;
		height: 150px;
		cursor: pointer;
		opacity: 0;
	}
}
.personal-dropzone-wrapper.dragover {
	background: #ecf0f5;
}
.preview-zone {
	text-align: center;
	.box {
		box-shadow: none;
		border-radius: 0;
		margin-bottom: 0;
	}
}

.table-design {
	// border: 1px solid $inputBorder;
	background-color: $white;
	border-radius: $radius;
	box-shadow: $shadow;
	padding: 10px 20px;
	overflow-x: auto;
	.row {
		border-bottom: 1px solid $inputBorder;
		text-decoration: none;
		color: $dark-gray;
	}
	.row:last-child {
		border-bottom: 0;
	}
}

.hire-requests-page {
	.cover {
		height: 240px;
		img {
			height: 100%;
			width: 100%;
			object-fit:cover;
			object-position: center center;
		}
	}
	.profile-img {
		width: 150px;
		height: 150px;
		overflow: hidden;
		margin-top: -90px;
		img {
			width: 100%;
			height: 100%;
			object-fit:cover;
			object-position: center center;
		}
	}
}

// CHAT APP
.chat-container {
	.status.online {
		background: $green;
	}
	.status.offline {
		background: gray;
	}
	width: 100%;
	height: 100%;
	box-shadow: $shadow;
	border-radius: $radius;
	background: $white;
	display: flex;
	min-height: 750px;
	.chat-list-container {
		width: 25%;
		border-right: 1px solid $inputBorder;
		position: relative;
		.chatlist-header {
			border-bottom: 1px solid $inputBorder;
			padding: 12px;
			height: auto;
			position: absolute;
			top: 0;
			width: 100%;
			.standard-search {
				height: 100%;
				input {
					height: 100%;
					font-size: 14px;
				}
			}
		}
		.chatlist-body {
			height: 690px;
			position: relative;
			margin-top: 64px;
			overflow-y: auto;
			border-bottom-left-radius: 20px;
			.list-item {
				text-decoration: none;
				padding: 16px;
				transition: .3s;
				border-bottom: 1px solid $inputBorder;
				position: relative;
				.profile_img {
					width: 50px;
					border-radius: 50%;
					height: 50px;
					img {
						object-fit: cover;
						object-position: center center;
						border-radius: 50%;
					}
					.status {
						position: absolute;
						bottom: 0;
						right: 3px;
						border-radius: 20px;
						border: 1px solid $white;
						height: 12px;
						width: 12px;
					}
				}
				.profile-meta {
					margin-left: 10px;
					width: 67%;
					.name {
						font-weight: 600;
					}
					.chat {
						font-size: 13px;
						opacity: .8;
					}
				}
				.last-chat {
					right: 10px;
					font-size: 14px;
					top: 10px;
				}
				.new-messages {
					right: 10px;
					bottom: 16px;
				}
				&:hover {
					background: #F5F5F5;
				}
				&.active {
					background: $purple;
					color: $white !important;
				}
				&:last-child {
					border: none;
				}
			}
		}
	}
	.chat-box-container {
		width: 75%;
		position: relative;
		.chatbox-header {
			border-bottom: 1px solid $inputBorder;
			padding: 16px 20px;
			height: auto;
			position: absolute;
			top: 0;
			width: 100%;
			.d-flex {
				align-items: center;
			}
			.status {
				width: 16px;
				height: 16px;
				border-radius: $radius;
				box-shadow: $shadow;
				margin-right: 10px;
				margin-top: 2px;
			}
			h5 {
				font-size: 18px;
			}
			.buttons {
				.icon {
					font-size: 24px;
					margin-left: 20px;
					text-decoration: none;
					height: fit-content;
					position: relative;
					top: 3px;
				}
			}
		}
		.chatbox-body {
			padding: 20px;
			height: 570px;
			position: relative;
			margin-top: 64px;
			overflow-y: auto;
			p.left-message {
				width: 80%;
				border-radius: 20px;
				border-bottom-left-radius: 0;
				background: $blue;
				color: $white;
				padding: 10px;
				font-size: 16px;
			}
			p.right-message {
				width: 80%;
				border-radius: 20px;
				border-bottom-right-radius: 0;
				background: #f5f5f5;
				padding: 10px;
				font-size: 16px;
				text-align: left;
			}
		}
		.chatbox-footer {
			position: absolute;
			width: 100%;
			bottom: 0;
			padding: 12px;
			background: $gray;
			border-top: 1px solid $inputBorder;
			.send-message {
				text-decoration: none;
				background: $white;
				padding-right: 20px;
			}
		}
	}
}