// Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

::selection {
  color: $white;
  background: $purple;
}
body,html {
	color: $dark-gray;
}
h1 {
	font-size: 50px;
	font-weight: 600;
	font-family: $oswald;
}
h2 {
	font-family: $oswald;
	font-size: 40px;
}
a:focus,
.form-control:focus,
.form-select:focus {
	outline: 0;
	box-shadow: none;
	border-color: $purple;
}
.divider {
	height: 1px;
	width: 100%;
	background: rgba($dark-gray, 0.1);
	margin: 20px 0;
}
.form-check-input:checked {
	background: $purple;
	border-color: $purple;
}
.form-control,
.form-select {
	border-radius: 100px;
}

.navbar-brand {
	font-family: $oswald;
	font-weight: 700;
}

.btn {
	border-radius: 100px;
	padding: 12px 30px;
}
.btn-theme {
	background: $purple;
	border-radius: 100px;
	color: $white;
	box-shadow: $shadow;
	transition: .3s;
}
.btn-theme:hover {
	background: $blue;
	color: $white;
	padding-left: 40px;
	padding-right: 40px;
}
.dropdown-menu {
	background: rgba($black,0.7);
	color: $white;
	-webkit-backdrop-filter: blur(5px);
	border-radius: 20px;
	.dropdown-item {
		color: $white;
		transition: 0.3s;
		&:hover {
			background: transparent;
			margin-left: 3px;
		}
	}
	.dropdown-divider {
		border-color: rgba($white, .1);
	}
}
.card {
	box-shadow: $shadow;
	border-radius: $radius;
	border-color: $white;
}

nav.navbar {
	border-radius: 200px;
	background: rgba(255,255,255,0.8);
	box-shadow: $shadow;
	padding: 20px 30px;
	position: fixed;
	z-index: 99;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 20px;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);

	.account-toggle {
		margin-left: 20px;
		&:after {
			display: none;
		}
	}

	.nav-item {
		align-self: center;
	}

	ul.me-auto {
		.nav-item {
			margin-right: 20px;
		}
	}

}

.standard-search {
	width: 60%;
	.form-control {
		background: $gray;
		padding: 12px 20px;
		border-right: 0;
		transition: .3s;
		&:focus {
			border-color: $inputBorder;
			background: #fff !important;
			~ .input-group-text {
				background: #fff;
			}
		}
	}
	.input-group-text {
		border-top-right-radius: 100px;
		border-bottom-right-radius: 100px;
		border-left: 0;
		background: $white;
		background: $gray;
		transition: .3s;
	}
}

.coaches-hero {
	padding: 220px 0 150px;
	background: url('/public/assets/img/coaches-bg.jpg') no-repeat;
	background-size: cover;
	color: $white;
	h1 {
		font-family: $oswald;
	}
	p {
		font-size: 20px;
		margin: 20px 0;
	}
	.points {
		font-size: 40px;
		font-weight: 600;
		img {
			margin: 0 10px;
			position: relative;
			top: -5px;
		}
	}
}

.all-coaches {
	padding: 100px 0;
	.sorting {
		span {
			margin-right: 10px;
			position: relative;
			align-self: center;
		}
		select {
			color: $purple;
			font-weight: 500;
			text-align-last: center;
		}
	}
	.standard-search {
		width: 60%;
	}
	.filter-cards {
		margin-top: 30px;
		.filters {
			background: $gray;
			border-radius: $radius;
			box-shadow: $shadow;
			padding: 30px 20px;
			.filter-bar {
				.form-control {
					border-radius: 10px;
					font-size: 14px;
				}
			}
			h2 {
				font-family: $oswald;
				font-size: 24px;
				font-weight: 500;
				margin-bottom: 20px;
			}
			p {
				font-size: .9rem;
			}
			.filter {
				font-size: .8rem;
				.filter-value {
					margin-bottom: 10px;
					input {
						align-self: center;
						height: 13px;
						width: 13px;
					}
					label {
						opacity: .5;
						margin-left: 6px;
					}
				}
				.gender-preference {
					input, label {
						align-self: center;
					}
					label {
						margin-left: 6px;
						margin-right: 10px;
					}
				}
				.standard-search {
					width: 100%;
					margin-bottom: 10px;
					margin-top: -6px;
					input {
						font-size: 12px;
						padding: 4px 8px;
					}
					img {
						height: 14px;
					}
					* {
						background: #fff;
					}
				}
			}
			#experience-slider,
			#hourly-slider {
			    height: 8px;
			    margin-top: 30px;
			    .noUi-tooltip {
			    	background: #333;
			    	color: $white;
			    	border: 0;
			    	padding: 2px 10px;
			    	font-weight: 700;
			    }
			    .noUi-connect {
				    background: $dark-gray;
				    height: 4px;
				    top: 1px;
				}
				.noUi-handle {
				    height: 15px;
				    width: 15px;
				    top: -5px;
				    right: -9px;
				    border-radius: 9px;
				    background: $purple;
				    box-shadow: $shadow;
				    border-color: $purple;
				    cursor: pointer;
				}
			    .noUi-handle:before, .noUi-handle:after {
					height: 7px;
					width: 1px;
					left: 5px;
					top: 3px;
					opacity: .5;
				}
				.noUi-handle:after {
					left: 7px;
				}
			}

		}
	}
	.loading-state {
		.card {
			border-radius: 20px;
			overflow: hidden;
			border-color: rgba(0,0,0,0.1);
			border-width: 2px;
			.placeholder {
				background: rgba(0,0,0,0.3);
				border-color: rgba(0,0,0,0.3);
			}
			.placeholder.img {
				height: 200px;
			}
		}	
	}
	.profile-cards {
		.profile-card {
			position: relative;
			transition: .3s;
			border-radius: $radius;
			background: $white;
			overflow: hidden;
			box-shadow: $shadow;
			border: 2px solid $white;
			text-align: center;
			.rate {
				position: absolute;
				top: 24px;
				left: 0;
				background: rgba(255,255,255, .7);
				backdrop-filter: blur(5px);
				-webkit-backdrop-filter: blur(5px);
				padding: 8px 20px 8px 12px;
				clip-path: polygon(0 0%, 100% 0%, 90% 100%, 0% 100%);
				font-family: $oswald;
				font-size: 14px;
				span {
					font-weight: 600;
				}
			}
			.card-cover {
				height: 200px;
			}
			.card-profile-img {
				width: 120px;
				height: 120px;
				border-radius: 50%;
				position: relative;
				overflow: hidden;
				text-align: center;
				margin: -70px auto 0;
				border: 2px solid $white;
				box-shadow: $shadow;
				img {
					height: 100%;
				}
			}
			.card-profile-meta {
				padding: 10px 20px 20px;
				.name {
					font-size: 18px;
					font-weight: 500;
					color: $black;
					font-family: $oswald;
				}
				.designation {
					margin: 4px 0 10px;
					span:first-child {
						opacity: .5;
					}
					span:last-child {
						font-size: 14px;
						color: $white;
						font-weight: 500;
						opacity: 1;
						position: absolute;
						top: 10px;
						right: 10px;
						background: rgba($blue,0.9);
						border-radius: 50px;
						padding: 4px 10px;
						box-shadow: $shadow;
					}
					span.exp {
						font-size: 13px;
						color: $purple;
					}
				}
				.rating {
					color: $golden;
				}
				.location {
					opacity: .5;
					margin-bottom: 20px;
					font-weight: 14px;
				}
			}
			.btn {
				display: block;
			}
			&:hover {
				border-color: $purple;
			}
		}

	}
}

.registration-app {
	background: $gray;
	min-height: 100vh;
	.footer-links {
		padding: 20px 0;
		a {
			margin: 0 10px;
			color: $purple;
			text-decoration: none;
		}
		a:hover {
			color: $blue;
		}
	}
}
.register-page {
	padding: 70px 0 0;
	.get-started,
	.registration-form {
		transition: .5s;
		.card {
			padding: 70px 120px;
			.card-body {
				.register-type {
					border-radius: $radius;
					border: 2px solid $inputBorder;
					padding: 40px 20px;
					text-align: center;
					display: block;
					background: $gray;
					text-decoration: none;
					transition: .3s;
					cursor: pointer;
					h2 {
						color: $black;
						font-size: 20px;
						margin-top: 20px;
						font-weight: 500;
						text-transform: uppercase;
					}
					img {
						height: 60px;
					}
					&:hover {
						box-shadow: $shadow;
						border-color: $purple;
						background: rgba($purple, .1);
					}
				}
			}
		}
	}
	.registration-form {
		background: url('/public/assets/img/register-bg.jpg') no-repeat;
		background-size: cover;
		margin-top: -20px;
		padding-bottom: 50px;
		.card {
			padding: 50px 30px 30px;
			label {
				font-weight: 600;
				width: 100%;
			}
			.form-control {
				padding: 12px 30px;
				background: $gray;
			}
			.filter {
				input {
					position: relative;
					top: 5px;
					margin-right: 10px;
				}
			}
		}
	}
}
