@import 'variables';

@media(max-width: 1920px) {
}

@media(max-width: 1500px) {
}

// 1399 START
@media(max-width: 1399px) {
} // 1399 END

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
}

// 1350 START
@media(max-width: 1350px) {
} // 1350 END

@media(max-width: 1250px) {
}

// 1199 START
@media(max-width: 1199px) {
	h1 {
		font-size: 40px;
	}
	h4 {
		font-size: 20px;
	}
	h2 {
		font-size: 27px;
	}
	h3 {
		font-size: 24px;
	}
	p {
		font-size: 14px;
	}
	.form-control {
		font-size: 14px;
	}
	.btn {
		font-size: 14px;
	}
	.icon-right-full {
	    padding: 5px 5px 4px 30px;
	    i {
	    	font-size: 38px;
	    }
	}
	.register-page .registration-form .card {
		padding: 50px 10px 30px;
	}
	.coaches-hero p, .players-hero p, .events-hero p, .event-detail-hero p {
		font-size: 14px;
	}
	.coaches-hero .points, .players-hero .points, .events-hero .points, .event-detail-hero .points {
		font-size: 28px;
	}
	.navbar {
		.navbar-brand {
			img {
				height: 30px;
			}
		}
	}
} // 1199 END


@media (max-width: 1024px) {
}

// 991 START
@media (max-width: 991px) {
	.navbar {
	    max-width: 100%;
	    border-radius: 0 !important;
	    margin-top: 0 !important;
	    .navbar-brand {
	    	img {
	    		height: 30px;
	    	}
	    }
	    a.nav-link,
	    a.dropdown-item {
	    	font-size: 14px;
	    }
	    .account-toggle {
	    	img {
	    		height: 30px;
	    	}
	    }
	}
	.all-users {
		.filter-cards {
			.filters {
				position: fixed;
				width: 90%;
				height: 90%;
				top: 5%;
				right: -100%;
				z-index: 99;
				overflow: scroll;
				.close-filter {
					text-align: center;
					span {
						color: $purple;
						border-radius: 50%;
						background-color: $white;
						border: 1px solid $inputBorder;
						font-size: 24px;
						height: 40px;
						width: 40px;
						display: inline-block;
					}
				}
			}
		}
		.users-search-sort-area {
			.filter-button {
				color: $purple;
				border-radius: 50%;
				background-color: $gray;
				border: 1px solid $inputBorder;
				width: 50px;
				margin-left: 10px;
				margin-right: 10px;
				text-align: center;
				i {
					top: 8px;
					position: relative;
					font-size: 20px;
				}
			}
		}
	}
	.coaches-hero, .players-hero, .events-hero, .event-detail-hero {
		padding: 180px 0 100px;
	}
	.all-users, .all-events {
		padding: 50px 0;
	}

} //991 END

// 767 START
@media (max-width: 767px) {
	.navbar-desktop {
		display: none;
	}
	.navbar-mobile {
		display: block;
		.open-nav-menu {
			font-size: 32px;
			i {
				color: #475569;
			}
		}
		.navbar-brand {
			margin: 0;
			img {
				height: 24px;
				position: relative;
				top: -4px;
			}
		}
		.dropdown-menu {
			position: absolute;
		}
	}
	.register-page {
		.get-started {
			.card {
				padding-left: 12px;
				padding-right: 12px;
				.card-head {
					padding-top: 20px !important;
					p {
						margin: 20px 0 10px !important;
					}
				}
				.card-body {
					.row {
						--bs-gutter-y: 1rem;
					}
				}
			}
		}
	}
	.register-page .registration-form .img-portion {
		display: none;
	}
	.register-page .registration-form .navbar-brand img {
		height: 30px;
	}
	.btn-link {
		font-size: 14px;
	}
	.register-page .registration-form .card {
		padding: 30px 0;
		.card-body {
			padding: 0;
		}
	}
	.registration-form {
		nav {
			text-align: center;
			.col-md-6.text-end {
				text-align: center !important;
				margin-bottom: 20px;
			}
		}
	}
	.coach-participation-page .coach-participation-form .first-box-questions .question p {
		margin-bottom: 10px;
	}
} // 767 END

// 575 START
@media(max-width: 575px) {
	.ts-wrapper.multi .ts-control > div {
		padding: 3px 10px 4px !important;
		font-size: 12px !important;
	}
	h1 {
		font-size: 32px;
	}
	h4 {
		font-size: 18px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 21px;
	}
	p {
		font-size: 12px;
	}
	.form-control, .form-select {
		font-size: 12px;
	}
	.btn {
		font-size: 12px;
	}
	.coaches-hero .points, .players-hero .points, .events-hero .points, .event-detail-hero .points {
		font-size: 18px;
	}
	.all-users {
		.users-search-sort-area {
			position: relative;
			padding-top: 60px;
			.standard-search {
				position: absolute;
				top: 0;
				width: 100%;
			}
			.form-select {
				height: 40px;
			}
			.filter-button {
				height: 40px;
				width: 40px;
				margin-right: 0;
				i {
					font-size: 18px;
					top: 6px;
				}
			}
		}
		.filter-cards {
			.filters {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				top:0;
				height: 100%;
				width: 95%;
			}
		}
	}
} // 575 END

// 499 START
@media (max-width: 499px) {
} // 499 END

// 454 START
@media (max-width: 454px) {
	.btn-link {
		font-size: 12px;
	}
	label {
		font-size: 12px !important;
	}
	.form-control {
		padding: 12px 20px !important;
		font-size: 12px;
	}
} // 454 END

// 399 START
@media (max-width: 399px) {
} // 399 END

// 365 START
@media (max-width: 365px) {
} // 365 END

// 350 START
@media (max-width: 350px) {
} // 350 END

// 335
@media (max-width: 335px) {
} // 335 END

// 335
@media (max-width: 320px) {
} // 320 END
