// Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

::selection {
  color: $white;
  background: $black;
}

.loader-bg {
	position: absolute;
	left: 0;
	top: 0;
	border-radius: $radius;
	background: rgba(255,255,255,0.6);
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
}
.loader-self {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid $black;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid $purple;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.modal-content {
	border-radius: $radius;
}
.page {
	padding-top: 150px;
}
body,html {
	color: $dark-gray;
	overflow-x: hidden;
	position: relative;
}
h1 {
	font-size: 50px;
	font-weight: 600;
	font-family: $oswald;
}
h2 {
	font-family: $oswald;
	font-size: 40px;
}
a:focus,
.form-control:focus,
.form-select:focus {
	outline: 0;
	box-shadow: none;
	border-color: $purple;
}
.divider {
	height: 1px;
	width: 100%;
	background: rgba($dark-gray, 0.1);
	margin: 20px 0;
}
.form-check-input:checked {
	background: $purple;
	border-color: $purple;
}
.form-control,
.form-select {
	border-radius: 30px;
}

.navbar-brand {
	font-family: $oswald;
	font-weight: 700;
}

.btn {
	border-radius: 100px;
	padding: 12px 30px;
}
.btn-sm {
	padding: 8px 20px;
}
.btn-theme {
	background: $purple;
	border-radius: 100px;
	color: $white;
	box-shadow: $shadow;
	transition: .3s;
}
.icon-right-full {
	padding: 7px 7px 7px 30px;
	span {
		margin-right: 10px;
		position: relative;
		top: -10px;
	}
	i {
		font-size: 40px;
		display: contents;
	}
}
.icon-left-full {
	padding: 7px 30px 7px 7px;
	span {
		margin-left: 10px;
		position: relative;
		top: -10px;
	}
	i {
		font-size: 40px;
		display: contents;
	}
}
.btn-theme:hover {
	background: $blue;
	color: $white;
}
.text-primary {
	color: $purple !important;
}
.dropdown-menu {
	background: rgba($black,0.7);
	color: $white;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border-radius: 20px;
	.dropdown-item {
		color: $white;
		transition: 0.3s;
		&:hover {
			background: transparent;
			margin-left: 3px;
		}
	}
	.dropdown-divider {
		border-color: rgba($white, .1);
	}
}
.card {
	box-shadow: $shadow;
	border-radius: $radius;
	border-color: $white;
	overflow: hidden;
}
input[type='password'] {
	font-family: $oswald;
}

.standard-search {
	width: 60%;
	.form-control {
		background: $gray;
		padding: 12px 20px;
		border-right: 0;
		transition: .3s;
		&:focus {
			border-color: $inputBorder;
			background: #fff !important;
			~ .input-group-text {
				background: #fff;
			}
		}
	}
	.input-group-text {
		border-top-right-radius: 100px;
		border-bottom-right-radius: 100px;
		border-left: 0;
		background: $white;
		background: $gray;
		transition: .3s;
	}
}
hr {
	opacity: .15;
}
form {
	.form-control {
		padding: 12px 20px;
		background-color: $gray;
	}
	textarea {
		border-radius: 20px !important;
	}
	label {
		font-weight: 600;
	}
}
.alert {
	border-radius: $radius;
	border: 0;
	box-shadow: $shadow;
}

.bg-success {
	background-color: $green;
}
.toast {
	border-radius: $radius;
	overflow: hidden;
	.toast-head {
		border: 0;
	}
	.toast-body {
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background: $white;
		border:0;
	}
}




